<!-- < class="bg-dark" style="position: fixed; width: 100%; height: 100%;"> -->
<div style=" width: 100%; height: 100%; background-color: rgb(67, 125, 83)" >
  <div class="conteiner-fluid p-3 mb-2 text-white">
    <!-- <div *ngIf="isModal" >
      <div class="wrapper"  >
        <div class="box" *ngFor="let group of groups">{{group.Name}}</div>
      </div>
    </div> -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Selecione a opção:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="wrapper"  *ngIf="isModal" >
              <div class="box" *ngFor="let group of groups" (click)='selectGroup(group.ExpansibleGroupId)'>{{group.Name}}</div>
            </div>
            <div class="wrapper"  *ngIf="isModalProd" >
              <div class="box" *ngFor="let prod of products" (click)='getProductsByGroup(prod.InternalCodeOnERP)'>{{prod.NameReduced}}</div>
            </div>
          </div>
          <!-- <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" style="text-decoration: underline;" id="inputGroup-sizing-lg">Comanda</span>
          </div>
          <input id="saleRequest" type="number" #saleRequest class="form-control font-weight-bold" aria-label="Large" aria-describedby="inputGroup-sizing-lg"
          autofocus (keyup.enter)="onclickSaleRequest($event.target.value)" [disabled]='isSaleRequestActiv' required minlength="4">
        </div>
        <div *ngIf="isExecutingScript">
          <div class="spinner-border" role="status" style="margin-left: 50%;">
           <span class="sr-only">Carregando...</span>
          </div>
         <p>Aguarde a consulta...</p>
        </div>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-9">
        <div class="border border-dark rounded p-3 bg-white text-dark p-1">
          <p style="text-transform: uppercase; text-align: center; font-size:150%" class="mb-0"> <strong>{{messageTop}}</strong> </p>
        </div>
      </div>
    </div>






<div class="row">
  <div class="col-sm-3" *ngIf="isShowProductInput" >
    <label class="font-weight-bold" for="basic-url">Produto</label>
    <div class="input-group mb-3">
       <input type="number" id="input-product" #product class="form-control font-weight-bold" aria-label="Large" aria-describedby="inputGroup-sizing-lg"
      (keyup.enter)='onclickProduct($event.target.value)'
    />
   <div>

   </div>
    <div *ngIf="isExecutingProd">
      <div class="spinner-border" role="status" style="margin-left: 50%;">
       <span class="sr-only">Carregando...</span>
      </div>
     <p>Aguarde a consulta...</p>
    </div>
    </div>
    <div class="col-sm-12">
      <label class="font-weight-bold" style="font-size: 150%;" for="subtot">Subtotal</label>
      <div class="border border-success bg-white">
        <p class="ml-2" id='subtot' style="color:black"><strong> R$ {{saleRequestTemp.TotalLiquid | number: '1.2-2'}}</strong> </p>
      </div>
    </div>
  </div>

  <div class="col-md-9 ">
  <div class="border border-dark rounded p-3 bg-white text-dark">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">PLU</th>
            <!-- <th scope="col">EAN</th> -->
            <th scope="col">PRODUTO</th>
            <th scope="col">QTD</th>
            <th scope="col">UNIT.</th>
            <th scope="col">TOTAL</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of saleRequestTemp?.Products; let indexProducts=index" >
            <th scope="row" (click)='onclickProductComments(product.SaleRequestProductTempId)'>{{indexProducts + 1}}</th>
            <td>{{product.ProductPriceLookUpCode}}</td>
            <!-- <td>{{product.Product?.EanCode}}</td> -->
            <td>{{product.Product?.NameReduced}}</td>
            <td>{{ product.Quantity }}</td>
            <td>{{product.Value | number : '1.2-2'}}</td>
            <td>{{product.TotalLiquid | number : '1.2-2'}}</td>
            <td (click)='sendCancelItem(product.SaleRequestProductTempId)' style="background-color: red;">
              <span style="color: red;" ><i class="fa fa-times" aria-hidden="true"></i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

    <div class="row justify-content-md-center" *ngIf="isSaleRequestActiv" >
      <div class="row ">
        <div class="col-sm-12 mt-2">
          <button type="button" class="btn btn-outline-light ml-3" (click)='onclickSave()' >Salvar</button>
          <button type="button" class="btn btn-outline-light ml-3" *ngIf="isSaleRequest && isSaleRequestActiv" >Alterar</button>
          <button type="button" class="btn btn-outline-light ml-3"  *ngIf="isPrinted" >Imprimir</button>
          <!-- <button type="button" class="btn btn-outline-light ml-3" (click)='onclickCancel()'>Cancelar</button> -->
          <button type="button" class="btn btn-outline-light ml-3" (click)='onclickMoreSaleRequest()'>Exibir</button>
        </div>
      </div>

    </div>
  </div>
  <button type="button" class="btn btn-outline-light ml-3" (click)='showSelectGroups()' data-toggle="modal" data-target="#exampleModal" >Pesquisar</button>
  <app-list-sale-request *ngIf="isShowSaleReqFull" [saleRequestPersonalizedCode]='saleRequestpersonalizedCode'></app-list-sale-request>
</div>


<!-- <button type="button" class="btn btn-outline-light ml-3" (click)='closeSelectGroups()' *ngIf="isModal" >Close</button> -->
<!-- <button type="button" class="btn btn-outline-light ml-3" (click)='open(mymodal)' >Show</button> -->

