<!-- < class="bg-dark" style="position: fixed; width: 100%; height: 100%;"> -->
<div style=" width: 100%; height: 100%; background-color: rgb(67, 125, 83)" >
  <div class="conteiner-fluid p-3 mb-2 text-white">

    <div class="row">
      <div class="col-md-2">
        <div class="input-group input-group-lg">
          <div class="input-group-prepend">
            <span class="input-group-text" style="text-decoration: underline;" id="inputGroup-sizing-lg">Pedido</span>
          </div>
          <input id="saleRequest" type="number" #saleRequest class="form-control font-weight-bold" aria-label="Large" aria-describedby="inputGroup-sizing-lg"
          autofocus (keyup.enter)="onclickSaleRequest($event.target.value)" [disabled]='isSaleRequestActiv' required minlength="4">
        </div>
        <div *ngIf="isExecutingScript">
          <div class="spinner-border" role="status" style="margin-left: 50%;">
           <span class="sr-only">Carregando...</span>
          </div>
         <p>Aguarde a consulta...</p>
        </div>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-9">
        <div class="border border-dark rounded p-3 bg-white text-dark p-1">
          <p style="text-transform: uppercase; text-align: center; font-size:150%" class="mb-0"> <strong>{{messageTop}}</strong> </p>
        </div>
      </div>
    </div>






<div class="row">
  <div class="col-sm-3">
    <label class="font-weight-bold" for="basic-url">Produto</label>
    <div class="input-group mb-3">
       <input type="number" id="input-product" #product class="form-control font-weight-bold" aria-label="Large" aria-describedby="inputGroup-sizing-lg"
      (keyup.enter)='onclickProduct($event.target.value)'
    />
   <div>

   </div>
    <div *ngIf="isExecutingProd">
      <div class="spinner-border" role="status" style="margin-left: 50%;">
       <span class="sr-only">Carregando...</span>
      </div>
     <p>Aguarde a consulta...</p>
    </div>
    </div>
    <div class="col-sm-12">
      <label class="font-weight-bold" style="font-size: 150%;" for="subtot">Subtotal</label>
      <div class="border border-success bg-white">
        <p class="ml-2" id='subtot' style="color:black"><strong> R$ {{saleRequestTemp.TotalLiquid | number: '1.2-2'}}</strong> </p>
      </div>
    </div>
  </div>

  <div class="col-md-9 ">
  <div class="border border-dark rounded p-3 bg-white text-dark">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Item</th>
            <th scope="col">PLU</th>
            <th scope="col">EAN</th>
            <th scope="col">PRODUTO</th>
            <th scope="col">QTD</th>
            <th scope="col">UNIT.</th>
            <th scope="col">TOTAL</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of saleRequestTemp?.Products; let indexProducts=index" >
            <th scope="row">{{indexProducts + 1}}</th>
            <td>{{product.ProductPriceLookUpCode}}</td>
            <td>{{product.Product?.EanCode}}</td>
            <td>{{product.Product?.NameReduced}}</td>
            <td>{{ product.Quantity }}</td>
            <td>{{product.Value | number : '1.2-2'}}</td>
            <td>{{product.TotalLiquid | number : '1.2-2'}}</td>
            <td *ngIf="isCancel" (click)='sendCancelItem(product.SaleRequestProductTempId)'><span style="color: red;" ><i class="fa fa-times" aria-hidden="true"></i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  </div>

</div>
<!-- <div class="row">
    <div class="col-sm-3">
      <label class="font-weight-bold" style="font-size: 150%;" for="subtot">Subtotal</label>
      <div class="border border-success bg-white">
        <p class="ml-2" id='subtot' style="color:black"><strong> R$ {{saleRequestTemp.TotalLiquid}}</strong> </p>
      </div>
    </div>
</div> -->





    <div class="row justify-content-md-center" *ngIf="isSaleRequestActiv" >
      <div class="row ">
        <div class="col-sm-12 mt-2">
          <button type="button" class="btn btn-outline-light ml-3" (click)='onclickSave()' >Salvar</button>
          <button type="button" class="btn btn-outline-light ml-3" *ngIf="isSaleRequest && isSaleRequestActiv" >Alterar</button>
          <button type="button" class="btn btn-outline-light ml-3"  *ngIf="isPrinted" >Imprimir</button>
          <button type="button" class="btn btn-outline-light ml-3" (click)='onclickCancel()'>Cancelar</button>
          <button type="button" class="btn btn-outline-light ml-3" (click)='onclickMoreSaleRequest()'>Exibir</button>
        </div>
      </div>

    </div>
  </div>

  <app-list-sale-request *ngIf="isShowSaleReqFull" [saleRequestPersonalizedCode]='saleRequestpersonalizedCode'></app-list-sale-request>
</div>

<!-- <button type="button" class="btn btn-outline-light ml-3" (click)='showSelectGroups()'  >Celta</button> -->
<!-- <button type="button" class="btn btn-outline-light ml-3" (click)='closeSelectGroups()' *ngIf="isModal" >Close</button> -->
<!-- <button type="button" class="btn btn-outline-light ml-3" (click)='open(mymodal)' >Show</button> -->
<!-- <ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Selecione o grupo de produtos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <li class="list-group-item">Bebidas</li>
      <li class="list-group-item">Refeições</li>
      <li class="list-group-item">Sorvetes</li>
      <li class="list-group-item">Outros</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template> -->

<div class="celtamodal" *ngIf="isModal" style=" width: 100%;">
  <ul class="list-group"  *ngFor="let group of groups" >
    <li class="list-group-item" style="text-align: center;background-color: rgb(130, 226, 154)" (click)="selectGroup(group.ExpansibleGroupId)" ><b>{{group.Name}}</b></li>
  </ul>
</div>

<div class="productsmodal" *ngIf="isModalProd" style=" width: 100%;">
  <ul class="list-group"  *ngFor="let prod of products" >
    <li class="list-group-item" style="text-align: center;background-color: rgb(130, 226, 154)" (click)="selectProd(prod.ProductsId)" ><b>{{prod.NameReduced}}</b></li>
  </ul>
</div>

