<div class="bg-dark" style="position: fixed; width: 100%; height: 100%;">
  <div class="conteiner-fluid p-3 mb-2 bg-dark text-white">
    <div class="row">
      <div class="col-md-2">
        <app-input-sale-request (newTemp)='receiveSaleRequest($event)'
                                (currentTemp)='receiveCurrentSaleRequestTemp($event)'
                                (saleRequestTempEmit)='receiveSaleRequestTemp($event)'
                                [_productReceived]='product'
                                [_qtdInput]='quantidade'></app-input-sale-request>
      </div>
      <div class="col-md-9 ml-auto">
        <!-- <app-list-sale-request-products [_productReceived]='product' [_qtdInput]='quantidade' *ngIf="isAddProduct" ></app-list-sale-request-products> -->
        <app-list-sale-request-products *ngIf="isAddProduct" ></app-list-sale-request-products>
      </div>
    </div>
    <div class="row fixed">
      <app-input-product class="ml-3 " (qtd)='receiveQtd($event)' (productEmitter)='recebeProduct($event)'  ></app-input-product>
    </div>
    <div class="row justify-content-md-center" *ngIf="isNewSaleRequestTemp" >
      <app-buttons-control></app-buttons-control>
    </div>
  </div>


</div>
